@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
}
.linearGradient {
    background: linear-gradient(97deg, #4066ff 4%, #2949c6 100%);
}

@layer utilities {
    .btn_white_ground {
        @apply border-white bg-white px-6 py-3 text-gray-90
    }
    .btn_blue_rounded {
        @apply border-blue-500 bg-blue-500 px-6 py-3 text-white
    }
    .btn_blue {
        @apply rounded-2xl bg-blue-500 px-6 py-3 text-white
    }
    .btn_dark_rounded {
        @apply border-green-90 bg-green-90 px-6 py-3 text-white transition-all
    }
    .btn_dark {
        @apply rounded-2xl bg-green-90 px-6 py-3 text-white transition-all
    }

    .max-container {
        @apply mx-auto max-w-[1440px];
    }

    .padding-container {
        @apply px-6 lg:px-20 3xl:px-0;
    }
}